<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="main.css" rel="stylesheet" />
    <title>임시 유저 목록</title>
  </head>
  <body class="grey-bg">
    <!--이런 식으로 복붙해야하는 html을 가져올 수 있음-->
    <div class="white-bg">
      <% for (let i = users.length - 1; i >= 0; i--){ %>
      <div class="list-box">
        <% users.length - i %>
        <img src = "<%= users[i].profilePictureUrl %>" alt = "profile_picture"/>
        <a href="/user/<%= users[i].username %>"><%= users[i].username %></a>
        <p><%= users[i].email %></p>
        <a href="/edits/<%= users[i].username %>">Edit</a>
      </div>
      <% } %>
      <div class="pagination">
        <% for(let i=1; i<=totalPages; i++) { %>
          <a href="/list?page=<%= i %>"><%= i %></a>
        <% } %>
      </div>
      
    </div>
  </body>
</html>
